@model MiniLibraryManagementSystem.Models.Book
@{
    ViewData["Title"] = "Delete";
}


<h2>Delete Book</h2>

<div class="details-container">
    <h3>Are you sure you want to delete this book?</h3>
    <br />
    <p><strong>Title:</strong> @Model.Title</p>
    <p><strong>Genre:</strong> @Model.Genre</p>
    <p><strong>Author:</strong> @Model.AuthorId</p>
</div>
    <form asp-action="DeleteConfirmed" method="post">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger">Delete</button>
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </form>
